[data-bs-theme="al-dark-blue"]{
  --bs-body-color: #fff;
  // Theme color
  --bs-primary: #109DF4;
  --bs-secondary:#081333;
  --bs-success:#0ACF83;
  --bs-danger:#D80027;
  --bs-warning: #FFF707;
  --bs-info:#90D5FF;
  --bs-primary-rgb: 16, 157, 244;
  --bs-secondary-rgb: 8, 19, 51;
  --bs-success-rgb: 10, 207, 131;
  --bs-danger-rgb: 216, 0, 39;
  --bs-warning-rgb: 255, 247, 7;
  --bs-info-rgb: 144, 213, 255;

  --bs-link-color: #109DF4;
  --bs-link-color-rgb: 16, 157, 244;
  --bs-link-hover-color-rgb: 255, 247, 7;

  --bs-body-bg: #070D27;

  .nav-pills {
    --bs-nav-link-color: #fff;
    --bs-nav-pills-link-active-bg: #109DF4;
    --bs-nav-link-hover-color: #109DF4;
  }


  .btn{
    --bs-btn-font-family: "Jura", serif;
    &:lang(ar){
      --bs-btn-font-family: "Cairo", sans-serif;
    }
  }
  body{
    background-image: linear-gradient(180deg, #081333 0%, #070D27 100%) !important;
      &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1024px;
      height: 100%;
      border-radius: 50%;
      background-image: radial-gradient(64.5% 64.5% at 50% 50%, rgba(255, 255, 255, 0.20) 0%, rgba(7, 14, 41, 0.20) 69.72%);
      filter: blur(150px);
      pointer-events: none;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 270px;
      background-image: radial-gradient(64.5% 64.5% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(7, 14, 41, 0.75) 69.72%);
      opacity: 0.2;
      filter: blur(150px);
      pointer-events: none;
    }
  }

  .tooltip{
    --bs-tooltip-color:#fff;
    --bs-tooltip-bg:#109DF4;
  }
  
  .accordion{
    --bs-accordion-color: #fff;
    --bs-accordion-bg: unset;
    --bs-accordion-border-color: unset;
    --bs-accordion-btn-color: var(--bs-primary);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-focus-box-shadow: unset;
    --bs-accordion-body-padding-x: 0px;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #fff;
    --bs-accordion-active-bg: unset;
    --bs-accordion-btn-padding-x: 0px;
    --bs-accordion-btn-padding-y: 0px;
  }

  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Jura", serif;
    &:lang(ar){
      font-family: "Cairo", sans-serif;
    }
  }

  .form-control, .form-select{
    --bs-body-bg: rgba(255, 255, 255, .01);
    --bs-body-color:#fff;
    border-color: rgba(16, 157, 244, .35);
    backdrop-filter: blur(4px);
  }

  .table{
    --bs-table-border-color:rgba(16, 157, 244, 0.25);
    --bs-table-color: #fff;
    // --bs-table-bg:rgba(8, 19, 51, 1.0);
  }

}


